@layer utilities {
  /* ------ Styles CSS ------ */

  .text-glow {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
  }

  .tap-hint-text {
    text-align: center;
    max-width: 90%;
  }
  
  .text-glow {
    text-shadow:
      0 0 6px rgba(255, 255, 255, 0.8),
      0 0 12px rgba(255, 255, 255, 0.6),
      0 0 18px rgba(255, 255, 255, 0.4);
  }
  
  .text-outline {
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
  
  /* ------ Styles CSS ------ */
}

@layer components {
  
  /* ------ Styles CSS ------ */

  /* Generic Header Configuration*/
  .site-header {
    @apply fixed w-full bg-black bg-opacity-100 z-50;
  }

  /* generic components functions */
  .generic-hover:hover {
    @apply scale-[1.02] shadow-lg;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* ------ Styles CSS ------ */
}